@font-face {
  font-family: Raleway;
  src: url('./resources/Raleway-VariableFont_wght.ttf')
}

body {
  background-color: rgb(32, 28, 34);
  color: white;
  text-align: center;
  font-family: Raleway;
}

.App {
  text-align: center;
}

h1 {
  font-family: Raleway;
  font-size: 60px;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

h2 {
  font-size: 20px;
  margin-top: 2em;
}

p {
  margin: 5vh 10vw;
  font-size: 1.4em;
  line-height: 2em;
}

.button {
  background-color: transparent;
  border: 3px solid rgb(93, 80, 99);
  color: rgb(147, 130, 155);
  width: 25vw;
  border-radius: 3em;
  font-size: 1.8em;
}

ul {
  margin-top: 3em;
  margin-bottom: 6em !important;
  display: flex; 
  list-style: none; 
  padding: 0;
  align-items: center;
  height: 100px;
  gap: 2em;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
}

li {
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 50%;
  width: 150px; 
  height: 150px;
  display: flex; 
  justify-content: center; 
  text-align:center; 
  align-items: center; 
  background-color: rgb(93, 80, 99);
  color: rgb(185, 173, 192);
}





