@font-face {
  font-family: Raleway;
  src: url('./resources/Raleway-VariableFont_wght.ttf')
}

.App {
  text-align: center;
  background-color:  rgb(248, 248, 248);
}

h1 {
  font-family: Raleway;
  font-size: 60px;
}

.header-container {
  padding-top: 2% !important;
}

.description {
  margin-top: 50px;
  font-size: 18px;
}

.table-container {
  background-color: white;
  margin-top: 160px;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.table-main {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  margin-bottom: 200px;
  box-shadow: 0 0 10px 2px rgb(161, 161, 161);
}

.table-header {
  font-size: 30px;
  font-family: Raleway;
}

.table-host-container {
  border: 3px solid rgb(25, 121, 25);
  width: 35%;
  border-radius: 5px;
  min-width: fit-content;
}

.button {
  margin-top: 50px;
  width: 380px !important;
  background-color: rgb(171, 192, 216);
  outline: none;
  border: none;
  font-family: Raleway;
  font-size: 30px;
}

.button:active , .button:hover{
  outline: none !important;
  background-color: rgb(151, 167, 185);
  border: none;
}

.dropdown-container {
  margin-top: 20px;
}


